{% extends 'account/teacher_base.html' %}
{% block body %}
<div style="margin-left:33.3rem;float:left;">
    <div class="lesson-maindiv" style="border-left: 0.5rem solid lightgrey; border-left: 0.5rem solid #{{form.initial.color_code}}; height:35rem;">
    <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <center>
        {% if form.initial.name %}
        <h1 style="font-family: 'Muli', sans-serif; font-size:30px;margin-top:1rem">Edit {{form.initial.name}}</h1>
        {% else %}
        <h1 style="font-family: 'Muli', sans-serif; font-size:30px;margin-top:1rem">Create Sub Class</h1>
        {% endif %}
        <input type='text' value="{{form.initial.name}}" name="name" class='search' style="width:15rem;text-align:center;float:none;font-family: 'Muli', sans-serif;margin-bottom:-10rem;margin-left:-0.7rem;" maxlength='20' placeholder="Name" required></input>
        <div style="background-color:  rgb(185, 185, 185); width: 20rem; height:0.1rem; margin-top:1rem;"></div>
        {% if form.initial.teacher %}
        <h1 style="font-family: 'Muli', sans-serif; font-size:20px;margin-top:1rem; color:grey;">Teacher ID:</h1>
        {% endif %}
        <input value="{{form.initial.teacher}}" type='number' name="teacher" style="font-size:20px;font-family: 'Muli', sans-serif;border:0.2rem solid lightgrey; height:4rem;border-radius:0.5rem;width:11.7rem;margin-top:1rem;text-align:center;" placeholder="Teacher ID" required></input>
        <div style="background-color:  rgb(185, 185, 185); width: 20rem; height:0.1rem; margin-top:1rem;"></div>
        {% if form.initial.color_code %}
        <input value="{{form.initial.color_code}}" type='text' class="search" name="color_code" style="float:none;font-size:20px;font-family: 'Muli', sans-serif;border:none;height:4rem;width:11.7rem;margin-top:1rem;text-align:center;" placeholder="Color Code" ></input>
        {% else %}
        <input value="C70000" type='text' class="search" name="color_code" style="float:none;font-size:20px;font-family: 'Muli', sans-serif;border:none;height:4rem;width:11.7rem;margin-top:1rem;text-align:center;" placeholder="Color Code" ></input>
        {% endif %}
        {% if invalid_id %}
        <br><br>
        <h1 style="font-family: 'Muli', sans-serif; font-size:20px;color:red;">Invalid Teacher ID</h1>  
        {% endif %}
        </center>
        <center>
        <button type="submit" class="btn btn-outline-dark" style="font-family: 'Muli', sans-serif; font-size:20px;margin-top:3rem;">Submit</button>
        </center>
    </form>
    </div>
</div>
{% endblock %}