{% extends 'account/teacher_base.html' %}

{% block body %}
<center>
<div class="lesson-maindiv" style="margin-left:0rem;overflow:hidden;" align="center">
    <center>
    <img src='/media/extra/warning.png' style="height:4rem;width:4rem;margin-top:2rem;"/>
    </center>
    <center>
    <h1 style="font-size:1.5rem;font-family:'Muli';margin-top:3rem;">Are you sure you want to delete <b>{{ lesson.title }}</b>?</h1>
    </center>
    <br><br>
    <center>
    <a href="{% url 'account:remove_lesson' lesson.sub_class.id lesson.id %}">
    <button class="btn btn-outline-danger" style="font-family:'Muli';">Yes, I am</button>
    </a>
    <a href="{% url 'account:teacher_lessons' 0 %}">
    <button class="btn btn-outline-dark" style="font-family:'Muli';">No, take me back</button>
    </a>
    </center>
    <br>
    </div>
</center>
{% endblock %}