{% extends 'account/base.html' %}
{% block body %}
<center>
<div class="grades-container" style="border-left:0.5rem solid #{{subclass.color_code}};">
    <form style="margin-left:1%;margin-top:1rem;width:50%; height:3rem;float:left;border-bottom:0.1rem solid #DCDCDC; margin-bottom:-10rem;" method='GET' action="{% url 'account:student_grades' subclass_id %}">
        <img src="/media/extra/search.png" style="height:calc(0.5vw + 2rem); width:calc(0.5vw + 2rem);margin-left:1%;margin-top:0.2rem;float:left;">
        <input class="search" style="width:60%" name='search_grades' value="{{request.GET.search_grades}}" placeholder="Search for your grades">
    </form>
    <br><br><br><br>
    {% for grade in grades %}
    <div class="grade-container-subclass-home" onMouseOver="this.style.backgroundColor='#d1d1d1'" onMouseOut="this.style.backgroundColor='#ECECEC'"style="margin-top:0rem;background-color:#ECECEC;border-left: 0.5rem solid #{{ grade.sub_class.color_code}}">
    <h1 class="grade-date">{{grade.date_added}}</h1>
    <center>
    {% if grade.is_term_paper %}
    <h1 class="grade-value" style="font-size:55px;color:red;">{{grade.value}}</h1>
    {% else %}
    <h1 class="grade-value" style="font-size:55px;">{{grade.value}}</h1>
    {% endif %}
    <h1 class="grade-value" style="font-size: 23px; color: grey; margin-top:-1rem;" title="Actual Grade">{{grade.actual_value}}</h1>
    <h1 class="grade-value" style="font-size: 14px; color: black; margin-top:1rem; font-family:'Source Sans Pro', sans serif;">{{grade.sub_class.name}}</h1>
    </center>
    </div>
    {% endfor %}
</div>
</center>
{% endblock %}
