{% extends 'account/base.html' %}

{% block body %}
<center>
<div class="calendar-container">
    {% if sub_class %}
    <div class="lesson-maindiv" style="border-left: 0.5rem solid #{{sub_class.color_code}};  ">
    {% else %}
    <div class="lesson-maindiv" style="">
    {% endif %}
    <h1 class="lesson-title-detail">Calendar</h1>
    <div style="height:0.01rem; width:100%; background-color:#D2D2D2; margin-top:5rem;"></div>
    <!-- <div style="overflow-y:scroll;height:90rem"> -->
        {% for date, events in dates.items %}
            <div class="whole-calendar-pos">
                <h1 style="color:black; margin-top:0.01rem; font-size:30px; margin-left:1rem; font-family: 'Open Sans', sans-serif;float:left;">{{date|date:"l"}}</h1>
                <h1 class="lesson-subtitle" style="float:right; margin-right:4%; margin-top:0.5rem; color:black;font-size:calc(0.2vw + 1rem);">{{date}}</h1>
                <div class="days-pos">
                <br>
                      {% for event in events %}
                      <a href="#" style="color:black;">
                      <div class="list-card" style="border-left:0.3rem solid #{{event.sub_class.color_code}}; border-bottom: 0.1rem solid #DCDCDC; width:95%; margin-left:2%;">
                          {% if event.event_type == "homework" %}
                          <img src="/media/extra/homework.png" style="float:left; height:2.3rem; width:2.3rem;margin-top:1rem;margin-left:0.3rem;" />
                          {% elif event.event_type == "test" %}
                          <img src="/media/extra/pen.png" style="float:left; height:2.3rem; width:2.3rem;margin-top:1rem;margin-left:0.3rem;" />
                          {% elif event.event_type == "project" %}
                          <img src="/media/extra/project.png" style="float:left; height:2.3rem; width:2.3rem;margin-top:1rem;margin-left:0.2rem;" />
                          {% endif %}
                          <h1 class="lesson-title" style="margin-top:calc(0.1vw + 0.5rem);font-size:calc(0.4vw + 1rem);margin-bottom:-10rem;margin-left:1.2%;">{{event.name}}</h1>
                          <h1 class="lesson-subtitle" style="margin-left:1.2%;margin-top:calc(1vw + 1.4rem);font-size:calc(0.2vw + 0.8rem);">{{event.sub_class.name}}</h1>
                          <h1 class="lesson-subtitle" style="float:right; margin-right:1.5%;margin-top:calc(0.1vw + 0.5rem); color:black;font-size:calc(0.2vw + 0.8rem);">{{event.date}}</h1>
                      </div>
                      <div style="height:0.1rem; width:140rem;float:left;margin-bottom:-0.1rem;"></div>
                      </a>
                      {% empty %}
                      <center>
                          <h1 style="color:black; margin-top:10rem;font-size:30px; margin-left:1rem;font-family: 'Open Sans', sans-serif;">Looks like you don't have anything on this day :)</h1>
                      </center>
                      {% endfor %}
                </div>
            </div>
        {% endfor %}
        <br>
    <!-- </div> -->
    </div>
</div>
</center>
{% endblock %}
