{% extends 'account/base.html' %}

{% block body %}
<div class="classes-main" style=>
    <div class="classes-seccond" style="border-left: 0.5rem solid #{{sub_class.color_code}}; ">
        <h1 class="lesson-title-detail">{{sub_class.name}}</h1>
        <a href="{% url 'account:student_archives' sub_class.id 0%}" style="text-decoration:none;color:black;">
          <div class='my-archive-classes'>
              <h1 style="font-size:17px; font-family: 'Muli', sans-serif; margin-top:1.2rem;">My Archive</h1>
          </div>
        </a>
        <div class="grey-line-classes"></div>
        {% if sub_class.teacher.profile_picture %}
        <img src="{{sub_class.teacher.profile_picture.url}}" style="width:3.8rem; height:3.8rem; border-radius:2rem;float:left; margin-top:0.2rem; margin-left:1rem; white-space: nowrap; text-overflow:ellipsis; display: block; overflow: hidden;"/>
        {% else %}
        <img src="/media/extra/user.png" style="width:3rem; height:3rem; float:left; margin-top:1.5rem; margin-left:1.2rem;"/>
        {% endif %}
        <h1 class="lesson-title-detail" style="float:left;margin-left:0.8rem; margin-top:1.4rem;font-size:25px;margin-bottom:-500rem;color:black;white-space: nowrap;text-overflow:ellipsis;display: block;overflow: hidden;">{{sub_class.teacher.user.first_name}} {{sub_class.teacher.user.last_name}}</h1>

        <div class="lessons-container">
            <h1 style="color:black; margin-top:-0.9rem;font-size:37px; margin-left:1.5rem;font-family: 'Open Sans', sans-serif;">Lessons</h1>
            <a href="{% url 'account:student_lessons' sub_class.id %}">
              <div class='home-sidebar-button' style="border-radius:0.5rem; margin-top:-3.1rem; margin-right:1rem; float:right; width:3rem; height:3rem;" title="More">
                  <img src="/media/extra/more.png" style="width: 2rem; height:2rem; margin-top:20%; margin-left:17%;" />
              </div>
            </a>
            <div style="width:100%; height:30.5rem; border-top: solid 2rem white;">
                <div style="overflow-x:hidden; overflow-y: auto; height:26.5rem; margin-top:1rem;">
                    {% for lesson in last_lessons %}
                    <a href="{% url 'account:student_lesson' sub_class.id lesson.id%}" style="color:black;">
                    <div class="lesson-card-classes">
                        <div class= "red_lessons_border_lines-classes" style="background-color:#{{sub_class.color_code}};">
                        <h1 class="lesson-title">{{lesson.title}}</h1>
                        <h1 class="lesson-subtitle">{{lesson.sub_class.name}}</h1>
                        <h1 class="lesson-subtitle" style="float:right; margin-right:2rem; margin-top:-2.5rem; color:black;">{{lesson.date_added}}</h1>
                        </div>
                      </div>
                    <div style="height:0.1rem; width:140rem;float:left;margin-bottom:-0.1rem;"></div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="grades-container">
            <h1 style="color:black; margin-top:0.5rem; font-size:37px; margin-left:1.5rem; font-family: 'Open Sans', sans-serif;">Grades</h1>
            <a href="{% url 'account:student_grades' sub_class.id %}">
              <div class='home-sidebar-button' style="border-radius:0.5rem; margin-top:-3.3rem; margin-right:1rem; float:right; width:3rem; height:3rem;" title="More">
                  <img src="/media/extra/more.png" style="width: 2rem; height:2rem; margin-top:20%; margin-left:17%;" />
              </div>
            </a>
            <div style="width:100%; height:36.5rem; margin-top:0rem; border-top: solid 2rem white;">
                <br>
                <div style="overflow-x:hidden; overflow-y: auto;height:26.5rem;">
                    {% for grade in last_grades %}
                    <div class="grade-container-subclass-home" style="border-left: 0.5rem solid #{{ grade.sub_class.color_code}}">
                    <h1 class="grade-date">{{grade.date_added}}</h1>
                    <center>
                    {% if grade.is_term_paper %}
                    <h1 class="grade-value" style="font-size:55px;color:red;">{{grade.value}}</h1>
                    {% else %}
                    <h1 class="grade-value" style="font-size:55px;">{{grade.value}}</h1>
                    {% endif %}
                    <h1 class="grade-value" style="font-size: 23px; color: grey; margin-top:-1rem;" title="Actual Grade">{{grade.actual_value}}</h1>
                    <h1 class="grade-value" style="font-size: 14px; color: black; margin-top:1rem; font-family:'Source Sans Pro', sans serif;">{{grade.sub_class.name}}</h1>
                    </center>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="events-container">
            <h1 style="color:black; margin-top:0.5rem; font-size:37px; margin-left:1.5rem; font-family: 'Open Sans', sans-serif;">Events</h1>
            <a href="{% url 'account:student_grades' sub_class.id %}">
              <div class='home-sidebar-button' style="border-radius:0.5rem; margin-top:-3.4rem; margin-right:1rem; float:right; width:3rem; height:3rem;" title="More">
                  <img src="/media/extra/more.png" style="width: 2rem; height:2rem; margin-top:20%; margin-left:17%;" />
              </div>
            </a>
            <div style="width:100%; height:36.5rem; margin-top:0rem; border-top: solid 2rem white;">
                <br>
                <div style="overflow-x:hidden; overflow-y: auto;height:26.5rem;">
                    {% for grade in last_grades %}
                    <div class="grade-container-subclass-home" style="border-left: 0.5rem solid #{{ grade.sub_class.color_code}}">
                    <h1 class="grade-date">{{grade.date_added}}</h1>
                    <center>
                    {% if grade.is_term_paper %}
                    <h1 class="grade-value" style="font-size:55px;color:red;">{{grade.value}}</h1>
                    {% else %}
                    <h1 class="grade-value" style="font-size:55px;">{{grade.value}}</h1>
                    {% endif %}
                    <h1 class="grade-value" style="font-size: 23px; color: grey; margin-top:-1rem;" title="Actual Grade">{{grade.actual_value}}</h1>
                    <h1 class="grade-value" style="font-size: 14px; color: black; margin-top:1rem; font-family:'Source Sans Pro', sans serif;">{{grade.sub_class.name}}</h1>
                    </center>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
