body {
    background-image: url(background1.jpg);
    background-attachment: fixed;
}


/* -------------SCROLL_BAR--------------- */

 ::-webkit-scrollbar {
    width: 5px;
}

 ::-webkit-scrollbar-track {
    background-color: black;
}

 ::-webkit-scrollbar-thumb {
    background-color: rgb(146, 146, 146);
    border-radius: 10px 10px 10px 10px;
    transition: background-color 0.2s;
}

 ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


/* -------------------------------------- */

.main-div {
    opacity: 0;
    transition: opacity 0.4s;
}

.welcome {
    width: 50%;
    margin: auto;
    margin-top: 3%;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 30px;
    transition: box-shadow 0.2s;
}

.welcome:hover {
    box-shadow: 1px 1px 50px;
}

.welcome-text {
    margin-top: 0rem;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color: #E7E7E7;
}

.register-text {
    margin-left: 29.5%;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color: #E7E7E7;
}

.login-widgets {
    border: None;
    font-family: 'Muli', sans-serif;
    font-size: 250%;
    color: white;
    background: None;
    border-bottom: 3px solid white;
    transition: border-bottom 0.3s, color 0.3s;
}

.login-widgets:focus {
    outline: None;
    border-bottom: 3px solid #BF2B2B;
    color: #BF2B2B;
}

.button-submit-login {
    font-size: 200%;
    text-align: center;
    border: None;
    width: 15%;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    background-color: #BF2B2B;
    color: white;
    transition: background-color 0.2s;
}

.button-submit-login:hover {
    background-color: rgb(121, 25, 25);
    box-shadow: 0px 0px 2px 1px rgb(121, 25, 25);
}

.sidenav {
    position: fixed;
    height: 100%;
    width: 30rem;
    float: left;
    background-color: black;
    box-shadow: 1px 1px 30px;
    overflow-y: scroll;
}

.home-sidebar-button {
    width: 4rem;
    height: 4rem;
    border-radius: 30%;
    background-color: white;
    float: left;
    margin-left: 9%;
    margin-top: 2rem;
    transition: background-color 0.2s;
}

.home-sidebar-button:hover {
    background-color: rgb(173, 173, 173);
}

.sidenav-subclass-color {
    width: 0.2rem;
    height: 3.5rem;
    float: left;
    margin-left: 0.5rem;
}

.join-class-button {
    width: 85%;
    height: 6rem;
    border-radius: 100px;
    background-color: #47C167;
    float: left;
    margin-top: 3rem;
    margin-left: 2rem;
    text-align: center;
    transition: background-color 0.2s;
}

.join-class-button:hover {
    background-color: rgb(51, 146, 76);
}

.mainclass-button {
    float: left;
    margin-left: 0.5rem;
    margin-top: 0.3rem;
    background-color: black;
    border: None;
    border-radius: 5px 5px 0px 0px;
    outline: none;
    color: white;
    width: 95%;
    height: 5rem;
    transition: background-color 0.2s;
}

.mainclass-button:hover {
    background-color: rgb(37, 37, 37);
}

.mainclass-button:focus {
    outline: none;
}

.sidenav-element {
    margin-left: 1rem;
    margin-right: 5rem;
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    margin-top: 0.5rem;
}

.arrow-right {
    display: block;
    transition: display 0.2s;
}

.arrow-down {
    display: none;
    transition: display 0.2s;
}

.subclass-home {
    display: none;
    float: left;
    margin-left: 0.5rem;
    background-color: rgb(37, 37, 37);
    border: None;
    outline: none;
    color: white;
    width: 95%;
    height: 3.5rem;
    transition: color 0.2s;
}

.subclass-home:hover {
    color: rgb(116, 116, 116);
}

.subclass-home-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    margin-top: 0.4rem;
    float: left;
    margin-left: 8.3%;
}

.list-card {
    height: 10rem;
    width: 95%;
    background-color: white;
    transition: background-color 0.2s;
}

.list-card:hover {
    background-color: rgb(233, 233, 233);
}

.top-bar {
    width: 90%;
    height: 3rem;
    background-color: white;
    border-radius: 50px;
    margin-top: 1.5rem;
    box-shadow: 1px 1px 10px;
    transition: box-shadow 0.3s;
}

.top-bar:hover {
    box-shadow: 1px 1px 20px;
}

.lesson-container {
    margin-top: 2.5rem;
}

.lesson-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 23px;
    margin-top: 1.5rem;
    margin-left: 1rem;
    float: left;
}

.lesson-subtitle {
    font-family: 'Source Sans Pro', sans-serif;
    color: grey;
    float: left;
    margin-left: 1rem;
    margin-top: 3.5rem;
}

.search {
    width: 25%;
    height: 1.5rem;
    margin-top: 0.8rem;
    margin-left: 0.5rem;
    font-size: 20px;
    float: left;
    border: none;
    background-color: none;
    color: rgb(107, 107, 107);
    font-family: 'Raleway', sans-serif;
}

.search:focus {
    outline: none;
}

.pagination {
    color: white;
}

.lesson-maindiv {
    width: 95%;
    height: 40%;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    margin-top: 0.5rem;
    overflow: hidden;
}

.lesson-title-detail {
    color: black;
    font-size: calc(0.8vw + 1.5rem);
    width: 56%;
    font-family: 'Source Sans Pro', sans-serif;
    float: left;
    margin-top: 1rem;
    margin-left: 2%;
    margin-bottom: -10rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

.pagination-button {
    border-radius: 100%;
    transition: background-color 0.2s;
}

.pagination-button:hover {
    background-color: lightgrey
}

.pagination-button-red {
    border-radius: 100%;
    transition: background-color 0.2s;
}

.pagination-button-red:hover {
    background-color: rgb(199, 43, 43);
}

.grades-container {
    width: 93%;
    margin-top: 3rem;
    background-color: white;
    overflow: hidden;
    /* border-radius: 1rem 1rem 1rem 1rem; */
}

.grade-container {
    width: calc(2.5vw + 9rem);
    height: calc(2.5vw + 10rem);
    float: left;
    background-color: rgb(241, 241, 241);
    margin-left: 3%;
    margin-bottom: 1vw;
    transition: background-color 0.2s;
}

.grade-container-subclass-home {
    width: 9rem;
    height: 11rem;
    background-color: white;
    float: left;
    margin-left: 2%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: background-color 0.2s;
}

.grade-container:hover {
    background-color: rgb(223, 223, 223);
}

.grade-container-subclass-home:hover {
    background-color: rgb(233, 233, 233);
}

.grade-date {
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    float: right;
    margin-right: 0.5rem;
    margin-top: 0.3rem;
}

.grade-value {
    margin-top: 25%;
    font-family: 'Open Sans', sans-serif;
    font-size: calc(1.2vw + 3rem);
    margin-left: -0.5rem;
}

.inactive {
    height: 1rem;
    width: 1rem;
}

.add-lesson-button {
    float: left;
    height: 100%;
    width: 17rem;
    margin-left: -0.1rem;
    background-color: none;
    transition: background-color 0.2s;
}

.add-lesson-button:hover {
    background-color: rgb(233, 233, 233);
}

.dropbtn {
    background-color: white;
    color: #979797;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    float: left;
    height: 3rem;
    font-size: 18px;
    border: none;
    transition: background-color 0.2s;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: rgb(233, 233, 233);
    outline: none;
}

.dropdownd {
    position: relative;
    display: inline-block;
    width: 30%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    margin-top: 3rem;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.dropdown-content a {
    color: black;
    background-color: white;
    height: 100%;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.2s;
}

.dropdownd a:hover {
    background-color: rgb(233, 233, 233);
    text-decoration: none;
}

.show {
    display: block;
}

.mainclass-topbar-button {
    width: 4rem;
    height: 4rem;
    border-radius: 30%;
    float: right;
    transition: background-color 0.2s;
    background-color: white;
    margin-top: 0.4rem;
    box-shadow: 1px 1px 6px lightgrey;
}

.mainclass-topbar-button:hover {
    background-color: rgb(2white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden35, 235, 235);
}

.list-card-mainclass {
    height: 15rem;
    width: 140rem;
    float: left;
    background-color: white;
    transition: background-color 0.2s;
}

.list-card-mainclass:hover {
    background-color: rgb(235, 235, 235);
}

.notification-button {
    border-radius: 0.5rem;
    width: 2rem;
    height: 2rem;
    background-color: #F4F4F4;
    float: right;
    margin-right: 1.5rem;
    box-shadow: 1px 0.5px 2.5px lightgrey;
    transition: background-color 0.2s;
}

.notification-button:hover {
    background-color: rgb(224, 223, 223);
}

.notification-button:focus {
    outline: none;
}


/* style-uri create de moi (daca faci franceza sa-ti fie rusine MOI ;) ) */

.my-archive-classes {
    width: 15rem;
    height: 3.3rem;
    text-align: center;
    border-radius: 1rem;
    margin-right: 0.9rem;
    float: right;
    transition: background-color 0.2s;
    background-color: white;
    margin-top: 0.5rem;
    box-shadow: 1px 1px 6px lightgrey;
}

.asezare-zile {
    width: 90%;
    height: 30%;
    background-color: #ECECEC;
    margin-left: 2rem;
    margin-top: 3rem;
    margin-right: 2rem;
}

.whole-calendar-pos {
    width: 90%;
    height: 34rem;
    background-color: #ECECEC;
    margin-left: 3.5rem;
    margin-top: 3rem;
    margin-right: 5rem;
    overflow: inherit;
}

.calendar-container {
    float: center;
    overflow: hidden;
}

.days-pos {
    width: 100%;
    height: 30.5rem;
    border-top: solid 2rem white;
    overflow-y: auto;
    overflow-x: hidden;
}

.lesson-card-classes {
    border-bottom: 0.1rem solid #DCDCDC;
    height: 12rem;
    width: 96%;
    background-color: white;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    transition: background-color 0.2s;
}

.grey-line-classes {
    height: 0.1rem;
    width: 97%;
    background-color: #D2D2D2;
    margin-top: 5rem;
    margin-left: 1rem;
}

.lessons-container {
    width: 90%;
    height: 32%;
    background-color: #ECECEC;
    margin-left: 4rem;
    margin-top: 7rem;
}

.classes-main {
    margin-left: 1.8rem;
    float: center;
    overflow: hidden
}

.classes-seccond {
    width: 98%;
    height: 30%;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    float: center;
}

.red_lessons_border_lines-classes {
    width: 0.4rem;
    height: 12rem;
    float: left;
}

.grade-container {
    width: 40%;
    height: 35rem;
    background-color: #ECECEC;
    margin-left: 4rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    float: left;
}

.events-container {
    width: 43%;
    height: 35rem;
    background-color: #ECECEC;
    margin-left: 5rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
    float: left;
    margin-right: 1rem;
}

@media screen and (max-width: 500px) {
    .lesson-maindiv {
        width: 90%;
        height: 30%;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        overflow: hidden;
        float: center;
    }
    .whole-calendar-pos {
        width: 90%;
        height: 34rem;
        background-color: #ECECEC;
        margin-left: 0.95rem;
        margin-right: 1rem;
        margin-top: 3rem;
    }
    .lesson-title-detail {
        color: black;
        font-size: calc(0.8vw + 1.5rem);
        font-family: 'Source Sans Pro', sans-serif;
        float: left;
        margin-top: 1rem;
        margin-left: 4%;
        margin-bottom: -10rem;
    }
    .calendar-container {
        float: center;
        overflow: hidden;
    }
    .my-archive-classes {
        width: 6.9rem;
        height: 3.3rem;
        text-align: center;
        border-radius: 1rem;
        margin-right: 0.7rem;
        float: right;
        transition: background-color 0.2s;
        background-color: white;
        margin-top: 0.4rem;
        box-shadow: 1px 1px 6px lightgrey;
    }
    .grey-line-classes {
        height: 0.1rem;
        width: 91%;
        background-color: #D2D2D2;
        margin-top: 5rem;
        margin-left: 1rem;
    }
    .lessons-container {
        width: 95%;
        height: 30%;
        background-color: #ECECEC;
        margin-left: 0.5rem;
        margin-top: 7rem;
        margin-bottom: 1rem;
    }
    .classes-main {
        float: center;
        overflow: hidden;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .classes-seccond {
        width: 100%;
        height: 30%;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        overflow: hidden;
        float: left;
    }
    .lesson-card-classes {
        border-bottom: 0.1rem solid #DCDCDC;
        height: 12rem;
        width: 93%;
        background-color: white;
        margin-left: 1rem;
        transition: background-color 0.2s;
    }
    .grade-container {
        width: 94%;
        height: 35rem;
        background-color: #ECECEC;
        margin-top: 2rem;
        margin-bottom: 1rem;
        margin-left: 0.6rem;
        float: left;
    }
    .events-container {
        width: 94%;
        height: 35rem;
        background-color: #ECECEC;
        margin-left: 0.6rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        float: left;
    }
}